.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    padding: 20px;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
