.update-ks{
    margin: 50px;
}
.update-ks input{
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #bfbfbf;
    padding: 10px;
}
.delete-product{
    cursor: pointer;
}
.admin-update-navbar a{
    text-decoration: none;
    margin: 5px;
}
.admin-update-navbar{
    margin-left: 20px;
}