.admin-product td img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.admin-product td a{
    text-decoration: none;
    margin-right: 10px;
}
.delete-product{
    color: red;
}
.admin-product td{
    padding: 5px;
}
.detail-room{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #ff751a;
    font-weight: 500;
    border: none;
    width: 100px;
    display: block;
}
.detail-room:focus{
    outline: none;
}