.render-list-hotel{
    margin-top: 40px;
}
.render-list-hotel th, .render-list-hotel tr, .render-list-hotel td {
    border : 1px solid black;
    
}
.render-list-hotel th{
    padding: 10px;
    background-color: #1a75ff;
}
.render-list-hotel tr:nth-child(even){
    background-color: #f2f2f2;
}