/* header */

.pay-header>div>div>p{
    color: #ff8533;
}
.pay-header>div{
    box-shadow: 0 5px 2px #F2f2f2;
}
/* body */
.pay-left{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #f2f2f2;
    margin-top: 20px;
    max-height: 300px;
}
.pay-left button,.detailbooking button{
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 5px 40px;
    background-color: #ff8917;
    color: white;
    margin-top: 10px;
}
.detailbooking{
    display: flex;
    flex-direction: row-reverse;
}

.pay-right{
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #f2f2f2;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
.pay-right img{
    width: 100%;
}

.pay-left button:focus, .detailbooking button:focus{
    outline: none;
}
.hotel-info{
    padding: 20px;
}
.hotel-info p {
    margin-bottom: 5px;
}
.hotel-info h3{
    font-size: 24px;
}
.hotel-info .icon {
    color: #ff8917;
}

.take-room,.hotel-price-discount, .repay, .hotel-price, .number-night, .hotel-name, .sum-price{
    display: flex;
    justify-content: space-between;
}
.take-room{
    border-top: 1px dashed black;
    padding-top: 5px;
}
.hotel-price-discount{
    color: #00b300;
}
.hotel-name, .hotel-price-discount{
    border-bottom: 1px dashed black;
}
.sum-price p:last-child{
    color: #ff8917;

}
.sum-price{
    padding: 0 20px;
    font-size: 28px;
    font-weight: 600;
}
.detailbooking{
    cursor: pointer;
}
.dialog-table th,td{
    padding: 0 5px;
}

.huy{
    cursor: pointer;
    color: #ff8533;
    font-weight: bold;
}
/* 
custom dialog */
#alert-dialog-description{
    color: black !important;
}

.number-night-content input,.number-name-content input{
    width: 30px !important;
    border: none;
    margin-top: 5px;
    font-size: 24px;
}
.number-night-content span,.number-name-content span{
    cursor: pointer;
}
@media (max-width:767px) {
    .pay-left{
        max-height: 700px;
    }
    .pay-right{
        margin-left: 0;
    }
}