.hotel-list-search-btn button{
    width: 100%;
}
#datepicker{
    width: 120px; 
    margin: 0 20px 20px 20px;
    background-color: white;
}
#datepicker > span:hover{
    cursor: pointer;
}
.hotel-list-search{
    background-color: white;
    box-shadow: 1px 1px 5px 5px #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.hotel-list-search button{
    border: none;
    background-color: #ff8917;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    padding: 0px 20px;
    width: 30%;
}
.hotel-list-search button:focus{
    outline: none;
}
.date-picker{
    border: 1px solid  #bfbfbf!important;
    margin-top: 2px !important;
    padding: 0.23em 2px 0 !important;
    border-radius: 3px;
}
.date-picker label{
    padding: 4px;
}
.MuiInput-underline:hover:not(.Mui-disabled):before{
    border: none;
}
.MuiInput-underline:before{
    border: none;
}
.hotel-list-search>.row{
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.hotel-list-search > .row div:nth-child(3){
    margin-left: 20px;
}
@media (max-width:1080px) {
    input[name="ngaythue"]{
        margin-left: 10px;
    }
}